.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
writing/figs/unnamed-chunk-16-1.pdf
writing/figs/tokens-by-context-1.pdf
writing/figs/tokens-by-age-1.pdf
writing/figs/quality-by-context-1.pdf
writing/figs/pipeline-image-1.pdf
writing/temp.R
writing/figs/unnamed-chunk-16-1.pdf
writing/figs/tokens-by-context-1.pdf
writing/figs/image-1.pdf
writing/figs/image (1).png
analysis/figure2.pdf
context_plot.pdf
writing/figs/unnamed-chunk-16-1.pdf
writing/figs/tokens-by-context-1.pdf
